{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <a class="buttonForm buttonSmall" href="{{ path('profile')}}">< return</a>
        <div class="divform">
            {{ form_start(form, {'attr':{'class':'form'}}) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}

            <button type="submit">Update my profile</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}