{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h1 class="middle">Your profile</h1>
        <a class="buttonForm buttonSmall" href="{{ path('profileEdit')}}">Modify your profile</a><br>
        <div class="profile">
            <div>
                {% if user.gender == 1 %}
                    <img src="{{ asset('assets/images/homme.svg') }}">
                {% elseif user.gender == 2 %}
                    <img src="{{ asset('assets/images/femme.svg') }}">
                {% endif %}
            </div>
            <div>
                Username : {{ user.username }}<br>
                Name : {{ user.firstname }} {{ user.lastname }}<br>
                Email : {{ user.email }}
                {% if is_granted('ROLE_SUPERADMIN') %}
                    <br>Roles :
                    {% for role in user.roles %}
                        {% if role == 'ROLE_SUPERADMIN' %}
                            ROLE_SUPERADMIN
                        {% elseif role == 'ROLE_BLOGGER' %}
                            ROLE_BLOGGER
                        {% elseif role == 'ROLE_USER' %}
                            ROLE_USER
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <br>
        {% if articles is not empty %}
            <div id="blockArticles">
                <h3 class="middle">Your articles</h3>
                <div class="blog">
                    <table>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Text</th>
                            <th>Link</th>
                        </tr>
                        {% for article in articles%}
                            <tr>
                                <td>{{ article.title }}</td>
                                <td>{{ article.date|date }}</td>
                                <td class="textTD">{{ article.text|slice(0, 40) }}{% if article.text|length > 40 %}...{% endif %}</td>
                                <td>
                                    <a class="buttonForm buttonSmall" href="{{ path('article', {id:article.id})}}"> here</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
        {% if comments is not empty %}
            <div id="blockComments">
                <h3 class="middle">Your comments</h3>
                <div>
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Text</th>
                            <th>Link</th>
                        </tr>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.date|date }}</td>
                                <td class="textTD">{{ comment.text|slice(0, 40) }}{% if comment.text|length > 40 %}...{% endif %}</td>
                                <td>
                                    <a class="buttonForm buttonSmall" href="{{ path('article', {id:comment.article.id})}}"> here</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}