{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <a class="buttonForm buttonSmall" href="{{ path('admin')}}">< return</a>

        <div class="divform">
            <form action="{{ path('change') }}" method="post" class="form">
                <div>
                    <label for="subjectchoice">Choose a user</label><br>
                    <select id="userchoice" name="userchoice"/>
                    {%for user in users%}
                        {%if user.roles[0] != 'ROLE_ADMIN'%}
                            <option value="{{user.id}}"> {{user.username}} - {{user.roles[0]}}</option>
                        {%endif%}
                    {%endfor%}
                    </select>
                </div>
                <div>
                    <label for="rolechoice">Choose a role to assign for the user selected</label><br>
                    <select id="rolechoice" name="rolechoice"/>
                    <option value="ROLE_USER">User</option>
                    <option value="ROLE_BLOGGER">Blogger</option>
                    </select>
                </div>
                <br>
                <button type="submit">
                    <i aria-hidden="true"></i> Send
                </button>
            </form>
        </div>


    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}