<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Blog Ultimate{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('style.css') }}">
    </head>
    <body>
        <ul>
            <li class="white">My Blog Ultimate</li>
            <div class="right">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('blog') }}">Blog</a></li>
                {% if app.user %}
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">
                            {% if app.user.username == "admin" %}
                                {{ app.user.username }}
                            {% else %}
                                {{ app.user.firstname }} {{ app.user.lastname }}
                            {% endif %}
                        </a>
                        <div class="dropdown-content">
                            <a href="#">Profile</a>
                            <a href="{{ path('security_logout') }}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li><a href="{{ path('security_login') }}">Login</a></li>
                    <li><a href="{{ path('security_register') }}">Register</a></li>
                {% endif %}
            </div>
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
