<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Blog Ultimate{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <ul id="nav">
            <li class="white">My Blog Ultimate</li>
            <div class="right">
                <li><a id="pathHome" href="{{ path('home') }}">Home</a></li>
                <li><a id="pathBlog" href="{{ path('blog') }}">Blog</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">
                            {% if app.user.username == "admin" %}
                                {{ app.user.username }}
                            {% else %}
                                {{ app.user.firstname }} {{ app.user.lastname }}
                            {% endif %}
                        </a>
                        <div class="dropdown-content">
                            <a href="{{ path('profile') }}">Profile</a>
                            <a href="{{ path('security_logout') }}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li><a id="pathLogin" href="{{ path('security_login') }}">Login</a></li>
                    <li><a id="pathRegister" href="{{ path('security_register') }}">Register</a></li>
                {% endif %}
            </div>
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div id="stop" class="scrollTop">
            <span><a href=""><img src="{{ asset('assets/images/arrowTop.svg') }}"></a></span>
        </div>
        <script>
            $(document).ready(function () {
                var width = $('.dropbtn').width();
                $('.dropdown-content a').width(width);

                var scrollTop = $(".scrollTop");
                $(window).scroll(function () {
                    var topPos = $(this).scrollTop();
                    if (topPos > 100) {
                        $(scrollTop).css("opacity", "1");
                    } else {
                        $(scrollTop).css("opacity", "0");
                    }
                });
                $(scrollTop).click(function () {
                    $('html, body').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });
            });
        </script>
    </body>
</html>
