{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h1 class="middle">"{{ article.title }}"</h1>
        <a class="buttonForm buttonSmall" href="{{ path('blog')}}">< return</a>
        {% if is_granted('ROLE_BLOGGER') %}
            {% if app.user.username == article.author.username %}
                <a class="buttonForm buttonSmall" href="{{ path('editArticle', {id:article.id})}}">modify article</a>
                <a class="buttonForm buttonSmall" href="{{ path('removeArticle', {id:article.id}) }}">remove article</a>
            {% elseif app.user.username == 'admin' %}
                <a class="buttonForm buttonSmall" href="{{ path('removeArticle', {id:article.id}) }}">remove article</a>
            {% endif %}
        {% endif %}
        <br>
        <br>
        <div class="middle" style="border:1px solid #333; border-radius: 15px;">

            Created at {{ article.date|date("F j Y") }} by
            <a class="linkUser" href="{{ path('profileUser', {id:article.author.id}) }}">{{ article.author.username }}</a>
            <br><br>
            <a><img id="img" src="{{ asset('uploads/images/' ~ article.image) }}"></a>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="imgValue" src="">
            </div>
        </div>
        <p class="textBox">{{ article.text }}</p>
        <br>
        {% if is_granted('ROLE_USER') %}
            <h4 class="middle">Comments</h4>
            <div class="divform index">
                {{ form_start(form, {'attr':{'class':'form'}}) }}
                {{ form_widget(form) }}
                <button type="submit">Submit</button>
                {{ form_end(form) }}
            </div>
        {% endif %}
        <br>

        <div class="middleComment">
            {% if comments is defined %}
                {% for comment in comments %}
                    <br>
                    <div class="textBox">
                        <p>
                            {{comment.text}}
                        </p>
                        <p>par <a class="linkUser" href="{{ path('profileUser', {id:comment.author.id}) }}">{{ comment.author.username }}</a> | {{ comment.date|date }}</p>

                        {% if is_granted('ROLE_USER') %}
                            {% if app.user.username == comment.author.username or app.user.username == article.author.username or app.user.username == 'admin' %}
                                <a class="buttonForm buttonSmall" href="{{ path('removeComment', {id:comment.id, mode:"article"}) }}">remove comment</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('#img').click(function () {
            $('.modal').css("display", "block");
            var image = $('#img').attr("src");
            $('#imgValue').attr("src", image);
        });
        $('.close').click(function () {
            $('.modal').css("display", "none");
        });
    </script>
{% endblock %}